body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}
header {
    background-color: #3f51b5;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;

}
.dropdown button{
    display: none;
}
.header-buttons {
    margin-right: 20px;
}

#cart-button,
#login-button,
#categories-button ,
#search-button
{
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cart-button:hover,
#login-button:hover,
#categories-button:hover,
#search-button:hover
{
    background-color: #555;
}
.button-main:hover{
    background-color: #555555;
}
.button-main{
    background-color: #3f51b5;
    text-align: center;
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body{

    width: 100%;
    height: 100%;
}
main {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
aside {
    background-color: #ccc;
    border-right: 1px solid #999;
    width: 20%;

}
#menu{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}
#content {
    flex-grow: 1;
    padding-left: 20px;
}
footer {
    background-color: #3f51b5;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
}
#popular-books,
#new-incomes{
    text-align: center;
}
.book {
    border: 1px solid #999;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
}
.book img {
    max-width: 100px;
    min-height: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto 10px;
}
#phone
{
    color: #cccccc;
    font-size: 20px;
}
.social-links{
    text-align: center;
}
.social-links img{
    width: 40px;
}
#copyright{
    align-self: flex-end;
    padding-left: 80%;
}
.social-phone p{
    font-size: 12px;
}
#sidebar li{
    background-color: #3f51b5;
}
#sidebar a{
    color: white;

}
#sidebar li:hover{
    background-color: #555;
}
.dropdown{
    display: flex;

}
.dropdown-content{
    display: flex;
}

/* Стилі для екранів від 480px до 768px */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        background-color: #3f51b5;
        padding: 20px;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 80px;
    }
    header label{
        display: none;
    }
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        color: #333;
    }
    .header-buttons{
        display: flex;
        flex-direction: column;
    }

    #cart-button,
    #login-button,
    #categories-button,
    #search-button {
        padding: 5px;
        margin: 0 30px 0 0;
    }
    aside {
        border-right: 1px solid #999;
        width: 20%;
    }

    aside {
        text-align: center;
        padding: 5px;
    }
    #content {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        background-color: #3f51b5;
        padding: 20px;
        color: #fff;
        text-align: center;
        display: flex;
        width: 100%;
    }
    #copyright{
        padding-left:30%;
        align-self: center;
    }

    .social-links img {
        width: 35px;
    }
    .dropdown{
        display: flex;
    }
    .dropdown-content{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

/* Стилі для екранів до 480px */
@media (max-width: 480px) {
    header {
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }
    header h1, label{
        display: none;
    }
    .header-buttons {
        margin-right: 0;
        margin-top: 10px;
    }

    #cart-button,
    #login-button,
    #categories-button,
    #search-button {
        padding: 8px 12px;
        margin: 5px;
        width: auto;
    }
    .dropdown button{
        display: flow;
    }
    main {
        flex-direction: column;
        width: 100%;
    }

    aside {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #menu{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    aside h3{
        display: none;
    }
    #content {
        padding-left: 0;
    }

    footer {
        flex-direction: column;
    }

    .social-links img {
        width: 30px;
    }

    #copyright {
        padding-left: 0;
        align-self: center;
    }

    .dropdown {
        display: flex;
    }

    .dropdown-button {
        background-color: #3f51b5;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 10px;
    }

    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:active .dropdown-content {
        display: block;
    }

}

